.THIS table {
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
}
.THIS td {
    height: 25px;
    border: 1px solid black;
}

.THIS th {
    border: 1px solid black;
    height: 25px;
    background-color: #c2c2d6;
    
}

/* .THIS td:nth-child(odd){background-color: #c2c2d6} */

.THIS body{
    font-size:13px;
    font-family:Arial;

}